In [1]:
import pandas as pd
import numpy as np
import re
import os

In [2]:
#PIB
pib = pd.read_csv("../notebooks/pib_clean.csv")

In [3]:
#POBLACION
poblacion = pd.read_csv('../notebooks/poblacion_clean.csv')

In [4]:
#RECOLECCION
recoleccion = pd.read_csv('../notebooks/recoleccion_clean.csv')

In [5]:
#GESTION
gestion = pd.read_csv('../notebooks/gestion_ccaa_clean.csv')

In [6]:
#EMISIONES
emisiones = pd.read_csv('../notebooks/emisiones_clean.csv')

In [5]:
poblacion.head()

  Comunidad Autónoma   Año  Poblacion
0          ANDALUCÍA  2010    8370975
1          ANDALUCÍA  2018    8384408
2          ANDALUCÍA  2016    8388107
3          ANDALUCÍA  2014    8402305
4          ANDALUCÍA  2011    8424102

In [15]:
pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Comunidad Autónoma  180 non-null    object
 1   Año                 180 non-null    int64
 2   PIB                 180 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.3+ KB

In [6]:
pib.head()

  Comunidad Autónoma   Año        PIB
0          ANDALUCÍA  2010  144752225
1          ANDALUCÍA  2018  160711363
2          ANDALUCÍA  2016  148405362
3          ANDALUCÍA  2014  137722026
4          ANDALUCÍA  2011  143389086

In [8]:
#UNION PIB CON POBLACION 

data_merged_pib_pob =  pd.merge(left=pib, right=poblacion, how="outer", on=["Año", 'Comunidad Autónoma'])
data_merged_pib_pob

    Comunidad Autónoma   Año         PIB  Poblacion
0            ANDALUCÍA  2010   144752225    8370975
1            ANDALUCÍA  2018   160711363    8384408
2            ANDALUCÍA  2016   148405362    8388107
3            ANDALUCÍA  2014   137722026    8402305
4            ANDALUCÍA  2011   143389086    8424102
..                 ...   ...         ...        ...
175     TOTAL NACIONAL  2017  1161867000   46572132
176     TOTAL NACIONAL  2016  1113840000   46557008
177     TOTAL NACIONAL  2011  1063763000   47190493
178     TOTAL NACIONAL  2013  1020348000   47129783
179     TOTAL NACIONAL  2018  1204241000   46722980

[180 rows x 4 columns]

In [8]:
## CREO UNA COLUMNA DE PIB PER CAPITA 

data_merged_pib_pob['PIB per capita'] = round((data_merged_pib_pob['PIB']/data_merged_pib_pob['Poblacion']*1000),2)

In [9]:
data_merged_pib_pob

    Comunidad Autónoma   Año         PIB  Poblacion  PIB per capita
0            ANDALUCÍA  2010   144752225    8370975        17292.16
1            ANDALUCÍA  2018   160711363    8384408        19167.88
2            ANDALUCÍA  2016   148405362    8388107        17692.35
3            ANDALUCÍA  2014   137722026    8402305        16390.98
4            ANDALUCÍA  2011   143389086    8424102        17021.29
..                 ...   ...         ...        ...             ...
175     TOTAL NACIONAL  2017  1161867000   46572132        24947.69
176     TOTAL NACIONAL  2016  1113840000   46557008        23924.22
177     TOTAL NACIONAL  2011  1063763000   47190493        22541.89
178     TOTAL NACIONAL  2013  1020348000   47129783        21649.75
179     TOTAL NACIONAL  2018  1204241000   46722980        25774.06

[180 rows x 5 columns]

In [12]:
#CAMBIAR EL TITULO CON TILDE A LAS SIGUIENTES BASES
## no coincide el titulo lo voy a cambiar
recoleccion.rename(columns={'Comunidad Autonoma': 'Comunidad Autónoma'}, inplace=True)

In [13]:
#CHANGE TO UPPER ALL the column CCAA STR to match


recoleccion['Comunidad Autónoma'] = recoleccion['Comunidad Autónoma'].str.upper()

In [14]:
#unimos la siguiente base de datos 
data_merged_2 =  pd.merge(left=data_merged_pib_pob, right=recoleccion, how="outer", on=["Año", 'Comunidad Autónoma'])
data_merged_2

,Comunidad Autónoma,Año,PIB,Poblacion,PIB per capita,Recoleccion-domésticos y vias,Recoleccion-voluminosos,Recoleccion-metálicos,Recoleccion-vidrio,Recoleccion-papel y carton,...,Recoleccion-eq. electricos,Recoleccion-pilas,Recoleccion-animales,Recoleccion-Envases mixtos,lodos,Recoleccion-construccion,Recoleccion-otros,TOTAL RESIDUOS MEZCLADOS,TOTAL RESIDUOS DE RECOGIDA SEPARADA,TOTAL RESIDUOS
0,ANDALUCÍA,2010,144752225,8370975,17292.16,4213174.0,155836.0,11203.0,82031.0,136017.0,...,25185.0,305.0,91419.0,133157.0,18992.0,56816.0,7729.0,4369010.0,605939.0,4974949.0
1,ANDALUCÍA,2018,160711363,8384408,19167.88,3755593.0,153300.0,1600.0,108768.0,117131.0,...,5036.0,108.0,92395.0,94281.0,0.0,81204.0,374.0,3908893.0,518363.0,4427256.0
2,ANDALUCÍA,2016,148405362,8388107,17692.35,3545590.0,361986.0,4425.0,99622.0,101816.0,...,4264.0,149.0,89603.0,81932.0,0.0,61285.0,32272.0,3907576.0,488015.0,4395591.0
3,ANDALUCÍA,2014,137722026,8402305,16390.98,3437380.0,252293.0,4321.0,82208.0,95866.0,...,3006.0,132.0,99030.0,76354.0,0.0,104686.0,553.0,3689673.0,481568.0,4171241.0
4,ANDALUCÍA,2011,143389086,8424102,17021.29,3796057.0,152281.0,8370.0,74820.0,118200.0,...,3054.0,148.0,105106.0,136141.0,12181.0,141142.0,724.0,3948338.0,624371.0,4572709.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,TOTAL NACIONAL,2017,1161867000,46572132,24947.69,17457709.0,814281.0,20940.0,815883.0,1061380.0,...,54599.0,1780.0,876822.0,660932.0,0.0,495597.0,1719.0,18271990.0,4243191.0,22515181.0
176,TOTAL NACIONAL,2016,1113840000,46557008,23924.22,17141367.0,910708.0,20376.0,797928.0,1021166.0,...,46068.0,1920.0,835703.0,611790.0,0.0,295142.0,41389.0,18052075.0,3826298.0,21878373.0
177,TOTAL NACIONAL,2011,1063763000,47190493,22541.89,18291848.0,481780.0,43394.0,733682.0,1266397.0,...,29330.0,1624.0,930511.0,653976.0,33302.0,564613.0,11651.0,18773628.0,4508351.0,23281979.0
178,TOTAL NACIONAL,2013,1020348000,47129783,21649.75,17320704.0,532122.0,20985.0,720930.0,988226.0,...,41644.0,7119.0,844081.0,559258.0,0.0,465104.0,134801.0,17852826.0,3932859.0,21785685.0
179,TOTAL NACIONAL,2018,1204241000,46722980,25774.06,17611068.0,673495.0,27875.0,834764.0,1067384.0,...,58733.0,1890.0,1010016.0,743556.0,0.0,472548.0,1891.0,18284563.0,4419204.0,22703767.0

In [15]:
data_merged_2.shape

(180, 23)

In [80]:
data_merged_2.shape

(54, 23)

In [18]:
gestion

,Año,Comunidad Autónoma,Reciclado procedente de recogida separada,Materiales recuperados-TMB mezclados,Compostado/Digestion anaerobia de FORS,Compostado/Digestión anaerobia,Incinerado,Vertido de rechazos,Vertido sin tratamiento previo,Total
0,2018,ANDALUCÍA,412818.00,166217.000,45572.0000,685734.00,0.00,2404796.00,599650.000,4314787.00
1,2018,ARAGÓN,82418.00,10209.000,212000.0000,79834.00,0.00,172831.00,226741.000,572245.00
2,2018,PRINCIPADO DE ASTURIAS,83728.00,0.000,2481.0000,0.00,0.00,4908.00,390873.000,481990.00
3,2018,ILLES BALEARS,153149.00,1938.000,36774.0000,16690.00,505886.00,37932.00,143927.000,896296.00
4,2018,CANARIAS,140174.00,58936.000,1248.0000,176590.00,0.00,820742.00,113704.000,1311394.00
...,...,...,...,...,...,...,...,...,...,...
175,2010,PAÍS VASCO,280844.75,18907.125,8877.3750,35869.12,245290.75,85150.31,216172.750,891112.19
176,2010,COMUNITAT VALENCIANA,260482.44,110349.500,0.0000,639630.06,3098.75,1153239.00,423.500,2167223.25
177,2010,CEUTA,3252.81,0.000,0.0000,0.00,0.00,0.00,0.000,3252.81
178,2010,MELILLA,3368.00,0.000,0.0000,0.00,42116.19,0.00,0.000,45484.19
179,2010,TOTAL NACIONAL,2998739.19,619189.750,495449.6875,2651220.44,2499665.44,7537970.56,4255055.875,21057289.56

In [19]:
#unimos la siguiente base de datos (gestion)
data_merged_3 =  pd.merge(left=data_merged_2, right=gestion, how="outer", on=["Año","Comunidad Autónoma"])
data_merged_3

,Comunidad Autónoma,Año,PIB,Poblacion,PIB per capita,Recoleccion-domésticos y vias,Recoleccion-voluminosos,Recoleccion-metálicos,Recoleccion-vidrio,Recoleccion-papel y carton,...,TOTAL RESIDUOS DE RECOGIDA SEPARADA,TOTAL RESIDUOS,Reciclado procedente de recogida separada,Materiales recuperados-TMB mezclados,Compostado/Digestion anaerobia de FORS,Compostado/Digestión anaerobia,Incinerado,Vertido de rechazos,Vertido sin tratamiento previo,Total
0,ANDALUCÍA,2010,144752225,8370975,17292.16,4213174.0,155836.0,11203.0,82031.0,136017.0,...,605939.0,4974949.0,362002.12,146473.125,37339.1875,625062.69,0.00,2308242.88,4.864507e+05,3965570.69
1,ANDALUCÍA,2018,160711363,8384408,19167.88,3755593.0,153300.0,1600.0,108768.0,117131.0,...,518363.0,4427256.0,412818.00,166217.000,45572.0000,685734.00,0.00,2404796.00,5.996500e+05,4314787.00
2,ANDALUCÍA,2016,148405362,8388107,17692.35,3545590.0,361986.0,4425.0,99622.0,101816.0,...,488015.0,4395591.0,412.82,166.217,45.5720,685.73,0.00,2404796.00,5.996500e+04,4314787.00
3,ANDALUCÍA,2014,137722026,8402305,16390.98,3437380.0,252293.0,4321.0,82208.0,95866.0,...,481568.0,4171241.0,341319.00,138760.000,36742.0000,600308.00,0.00,2339796.00,4.518710e+05,3908796.00
4,ANDALUCÍA,2011,143389086,8424102,17021.29,3796057.0,152281.0,8370.0,74820.0,118200.0,...,624371.0,4572709.0,366138.75,148015.750,37458.6250,630013.62,0.00,2301932.25,4.933666e+05,3976925.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,TOTAL NACIONAL,2017,1161867000,46572132,24947.69,17457709.0,814281.0,20940.0,815883.0,1061380.0,...,4243191.0,22515181.0,3372785.00,660153.000,498827.0000,3419208.00,2803475.00,7571910.00,3.691506e+06,22017865.00
176,TOTAL NACIONAL,2016,1113840000,46557008,23924.22,17141367.0,910708.0,20376.0,797928.0,1021166.0,...,3826298.0,21878373.0,3372785.00,660153.000,498827.0000,3419208.00,2803475.00,7571910.00,3.691506e+06,22017865.00
177,TOTAL NACIONAL,2011,1063763000,47190493,22541.89,18291848.0,481780.0,43394.0,733682.0,1266397.0,...,4508351.0,23281979.0,3023704.62,623938.500,496708.6250,2668458.12,2507789.12,7541492.88,4.239249e+06,21101339.88
178,TOTAL NACIONAL,2013,1020348000,47129783,21649.75,17320704.0,532122.0,20985.0,720930.0,988226.0,...,3932859.0,21785685.0,3073635.50,633436.000,499226.5000,2702933.50,2524036.50,7548537.50,4.207636e+06,21189440.50
179,TOTAL NACIONAL,2018,1204241000,46722980,25774.06,17611068.0,673495.0,27875.0,834764.0,1067384.0,...,4419204.0,22703767.0,3221200.00,786394.000,949190.0000,3314166.00,2579509.00,8356432.00,3.531459e+06,22264823.00

In [21]:
## no coincide el titulo lo voy a cambiar
emisiones.rename(columns={'Comunidad Autonoma': 'Comunidad Autónoma'}, inplace=True)

In [22]:
emisiones

,Biological treatment of waste - Anaerobic digestion at biogas facilities,Biological treatment of waste - Composting,Biological treatment of waste - Solid waste disposal on land,Clinical waste incineration,Cremation,Domestic wastewater handling,Hazardous waste incineration,Industrial waste incineration,Industrial wastewater handling,Municipal waste incineration,Open burning of waste,Other waste (please specify in IIR),Other waste incineration (please specify in the IIR),Other wastewater handling,Sewage sludge incineration,Año,Comunidad Autónoma
0,0.12,1.09,4.52,0.0,0.32,0.31,0.0,0.0,0.09,0.0,792.33,16.23,0.0,1.49,13.14,2010,Total Nacional
1,0.19,1.03,4.76,0.0,0.34,0.23,0.0,0.0,0.09,0.0,826.90,19.80,0.0,1.45,13.03,2011,Total Nacional
2,0.25,0.99,4.74,0.0,0.38,0.22,0.0,0.0,0.08,0.0,542.86,18.72,0.0,0.67,15.78,2012,Total Nacional
3,0.41,0.91,4.66,0.0,0.39,0.22,0.0,0.0,0.08,0.0,954.47,17.95,0.0,0.67,10.58,2013,Total Nacional
4,0.49,0.83,4.46,0.0,0.47,0.22,0.0,0.0,0.09,0.0,622.23,17.46,0.0,2.08,11.24,2014,Total Nacional
5,0.57,0.88,4.60,0.0,0.52,0.22,0.0,0.0,0.09,0.0,797.12,17.37,0.0,2.08,11.58,2015,Total Nacional
6,0.39,0.86,4.54,0.0,0.56,0.21,0.0,0.0,0.09,0.0,785.16,50.31,0.0,2.08,11.92,2016,Total Nacional
7,0.51,0.86,4.52,0.0,0.55,0.21,0.0,0.0,0.09,0.0,742.75,16.83,0.0,2.09,11.61,2017,Total Nacional
8,0.51,0.78,4.81,0.0,0.60,0.21,0.0,0.0,0.09,0.0,1009.63,17.52,0.0,2.09,11.56,2018,Total Nacional
9,0.51,0.78,4.78,0.0,0.59,0.21,0.0,0.0,0.09,0.0,1009.63,21.66,0.0,2.11,11.44,2019,Total Nacional

In [23]:
emisiones['Comunidad Autónoma'] = emisiones['Comunidad Autónoma'].str.upper()

In [24]:
#unimos las dos bases de datos que no tienen CCAA
data_merged_4 =  pd.merge(left=data_merged_3, right=emisiones, how="outer", on=["Año" , 'Comunidad Autónoma'])
data_merged_4

,Comunidad Autónoma,Año,PIB,Poblacion,PIB per capita,Recoleccion-domésticos y vias,Recoleccion-voluminosos,Recoleccion-metálicos,Recoleccion-vidrio,Recoleccion-papel y carton,...,Domestic wastewater handling,Hazardous waste incineration,Industrial waste incineration,Industrial wastewater handling,Municipal waste incineration,Open burning of waste,Other waste (please specify in IIR),Other waste incineration (please specify in the IIR),Other wastewater handling,Sewage sludge incineration
0,ANDALUCÍA,2010,1.447522e+08,8370975.0,17292.16,4213174.0,155836.0,11203.0,82031.0,136017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDALUCÍA,2018,1.607114e+08,8384408.0,19167.88,3755593.0,153300.0,1600.0,108768.0,117131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ANDALUCÍA,2016,1.484054e+08,8388107.0,17692.35,3545590.0,361986.0,4425.0,99622.0,101816.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANDALUCÍA,2014,1.377220e+08,8402305.0,16390.98,3437380.0,252293.0,4321.0,82208.0,95866.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ANDALUCÍA,2011,1.433891e+08,8424102.0,17021.29,3796057.0,152281.0,8370.0,74820.0,118200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,TOTAL NACIONAL,2016,1.113840e+09,46557008.0,23924.22,17141367.0,910708.0,20376.0,797928.0,1021166.0,...,0.21,0.0,0.0,0.09,0.0,785.16,50.31,0.0,2.08,11.92
177,TOTAL NACIONAL,2011,1.063763e+09,47190493.0,22541.89,18291848.0,481780.0,43394.0,733682.0,1266397.0,...,0.23,0.0,0.0,0.09,0.0,826.90,19.80,0.0,1.45,13.03
178,TOTAL NACIONAL,2013,1.020348e+09,47129783.0,21649.75,17320704.0,532122.0,20985.0,720930.0,988226.0,...,0.22,0.0,0.0,0.08,0.0,954.47,17.95,0.0,0.67,10.58
179,TOTAL NACIONAL,2018,1.204241e+09,46722980.0,25774.06,17611068.0,673495.0,27875.0,834764.0,1067384.0,...,0.21,0.0,0.0,0.09,0.0,1009.63,17.52,0.0,2.09,11.56
180,TOTAL NACIONAL,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.21,0.0,0.0,0.09,0.0,1009.63,21.66,0.0,2.11,11.44

In [30]:
#no hemos considerado el año 2019 por tal motivo se elimina la ultima fila
data_merged_4 = data_merged_4.drop([180], axis=0 )

In [182]:
data_merged_4.columns

Index(['Comunidad Autónoma', 'Año', 'PIB', 'Poblacion', 'PIB per capita',
       'Recoleccion-domésticos y vias', 'Recoleccion-voluminosos',
       'Recoleccion-metálicos', 'Recoleccion-vidrio',
       'Recoleccion-papel y carton', 'Recoleccion-plasticos',
       'Recoleccion-madera', 'Recoleccion-textiles',
       'Recoleccion-eq. electricos', 'Recoleccion-pilas',
       'Recoleccion-animales', 'Recoleccion-Envases mixtos', 'lodos',
       'Recoleccion-construccion', 'Recoleccion-otros',
       'TOTAL RESIDUOS MEZCLADOS', 'TOTAL RESIDUOS DE RECOGIDA SEPARADA',
       'TOTAL RESIDUOS', 'Gestion: Incineracion (tn)',
       'Gestion: Opereaciones de relleno (tn)', 'Gestion Recuperacion (tn)',
       'Gestion Total (tn)', 'Gestion Vertido (tn)',
       'Biological treatment of waste - Anaerobic digestion at biogas facilities',
       'Biological treatment of waste - Composting',
       'Biological treatment of waste - Solid waste disposal on land',
       'Clinical waste incineration', 'Cremation',
       'Domestic wastewater handling', 'Hazardous waste incineration',
       'Industrial waste incineration', 'Industrial wastewater handling',
       'Municipal waste incineration', 'Open burning of waste',
       'Other waste (please specify in IIR)',
       'Other waste incineration (please specify in the IIR)',
       'Other wastewater handling', 'Sewage sludge incineration'],
      dtype='object')

In [183]:
#cambiar el nombre a las columnas, pasarlas al ingles 
#RENAME COLUMNS 

new_names = {'Comunidad Autónoma': 'Autonomous communities', 'Año': 'Year', 'PIB': 'GDP', 'Poblacion': 'Population', 'PIB per capita': 'GDP per capita', 'Recoleccion-domésticos y vias': 'Domestic Waste and Wheelie Bins -C', 'Recoleccion-voluminosos': 'Bulk -C',
       'Recoleccion-metálicos': 'Metallics waste -C', 'Recoleccion-vidrio': 'Waste Glass -C',
       'Recoleccion-papel y carton':'Waste Paper and Cardboard -C', 'Recoleccion-plasticos': 'Plastics -C',
       'Recoleccion-madera':'Waste Wood -C', 'Recoleccion-textiles':'Textile waste -C' ,
       'Recoleccion-eq. electricos': 'Electrical waste -C', 'Recoleccion-pilas': 'Battery -C',
       'Recoleccion-animales': 'Animal -C', 'Recoleccion-Envases mixtos': 'Mixed packaging -C', 'lodos': 'Sludge -C',
       'Recoleccion-construccion': 'Construction -C', 'Recoleccion-otros': 'Others -C',
       'TOTAL RESIDUOS MEZCLADOS': 'Total mixed waste', 'TOTAL RESIDUOS DE RECOGIDA SEPARADA': 'Total separately waste - C (tn)',
       'TOTAL RESIDUOS': 'Total Waste', 'Gestion: Incineracion (tn)': 'Incineration (tn) -D',
       'Gestion: Opereaciones de relleno (tn)': 'Backfilling (tn) -D' , 'Gestion Recuperacion (tn)': 'Recovery (recycled, WTE, compost, others (tn) -D',
       'Gestion Total (tn)': 'Total Waste disposal (tn) -D', 'Gestion Vertido (tn)': 'Landfill (tn) -D',
       'Biological treatment of waste - Anaerobic digestion at biogas facilities': 'BT - Anaerobic digestion at biogas',
       'Biological treatment of waste - Composting': 'Bt - Composting',
       'Biological treatment of waste - Solid waste disposal on land':'Bt - Disposal on land', 'Other waste (please specify in IIR)' : 'Other waste',
       'Other waste incineration (please specify in the IIR)':'Other waste incineration'}
data_merged_4.rename(columns=new_names, inplace=True)
data_merged_4.head()

,Autonomous communities,Year,GDP,Population,GDP per capita,Domestic Waste and Wheelie Bins -C,Bulk -C,Metallics waste -C,Waste Glass -C,Waste Paper and Cardboard -C,...,Domestic wastewater handling,Hazardous waste incineration,Industrial waste incineration,Industrial wastewater handling,Municipal waste incineration,Open burning of waste,Other waste,Other waste incineration,Other wastewater handling,Sewage sludge incineration
0,ANDALUCÍA,2010,144752225.0,8370975.0,17292.16,4213174.0,155836.0,11203.0,82031.0,136017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDALUCÍA,2018,160711363.0,8384408.0,19167.88,3755593.0,153300.0,1600.0,108768.0,117131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ANDALUCÍA,2016,148405362.0,8388107.0,17692.35,3545590.0,361986.0,4425.0,99622.0,101816.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANDALUCÍA,2014,137722026.0,8402305.0,16390.98,3437380.0,252293.0,4321.0,82208.0,95866.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ANDALUCÍA,2011,143389086.0,8424102.0,17021.29,3796057.0,152281.0,8370.0,74820.0,118200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
data_merged_4

,Comunidad Autónoma,Año,PIB,Poblacion,PIB per capita,Recoleccion-domésticos y vias,Recoleccion-voluminosos,Recoleccion-metálicos,Recoleccion-vidrio,Recoleccion-papel y carton,...,Domestic wastewater handling,Hazardous waste incineration,Industrial waste incineration,Industrial wastewater handling,Municipal waste incineration,Open burning of waste,Other waste (please specify in IIR),Other waste incineration (please specify in the IIR),Other wastewater handling,Sewage sludge incineration
0,ANDALUCÍA,2010,1.447522e+08,8370975.0,17292.16,4213174.0,155836.0,11203.0,82031.0,136017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDALUCÍA,2018,1.607114e+08,8384408.0,19167.88,3755593.0,153300.0,1600.0,108768.0,117131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ANDALUCÍA,2016,1.484054e+08,8388107.0,17692.35,3545590.0,361986.0,4425.0,99622.0,101816.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANDALUCÍA,2014,1.377220e+08,8402305.0,16390.98,3437380.0,252293.0,4321.0,82208.0,95866.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ANDALUCÍA,2011,1.433891e+08,8424102.0,17021.29,3796057.0,152281.0,8370.0,74820.0,118200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,TOTAL NACIONAL,2017,1.161867e+09,46572132.0,24947.69,17457709.0,814281.0,20940.0,815883.0,1061380.0,...,0.21,0.0,0.0,0.09,0.0,742.75,16.83,0.0,2.09,11.61
176,TOTAL NACIONAL,2016,1.113840e+09,46557008.0,23924.22,17141367.0,910708.0,20376.0,797928.0,1021166.0,...,0.21,0.0,0.0,0.09,0.0,785.16,50.31,0.0,2.08,11.92
177,TOTAL NACIONAL,2011,1.063763e+09,47190493.0,22541.89,18291848.0,481780.0,43394.0,733682.0,1266397.0,...,0.23,0.0,0.0,0.09,0.0,826.90,19.80,0.0,1.45,13.03
178,TOTAL NACIONAL,2013,1.020348e+09,47129783.0,21649.75,17320704.0,532122.0,20985.0,720930.0,988226.0,...,0.22,0.0,0.0,0.08,0.0,954.47,17.95,0.0,0.67,10.58
179,TOTAL NACIONAL,2018,1.204241e+09,46722980.0,25774.06,17611068.0,673495.0,27875.0,834764.0,1067384.0,...,0.21,0.0,0.0,0.09,0.0,1009.63,17.52,0.0,2.09,11.56

In [32]:
## GUARDAMOS LA BASE DE DATOS

data_merged_4.to_csv('df_EDA_proyect.csv', index=False)