### GESTION DE RESIDUOS

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
gestion = pd.read_excel("data/residuos_gestionados.xls")

In [3]:
gestion.head()

,2018,2018.1,2018.2,2018.3,2018.4,2017,2017.1,2017.2,2017.3,2017.4,...,2011,2011.1,2011.2,2011.3,2011.4,2010,2010.1,2010.2,2010.3,2010.4
0,Recuperación,Operaciones de relleno,Vertido,Incineración,Total,Recuperación,Operaciones de relleno,Vertido,Incineración,Total,...,Recuperación,Operaciones de relleno,Vertido,Incineración,Total,Operaciones de relleno,Vertido,Incineración,Recuperación,Total
1,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,...,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn,TOTAL GENERAL tn
2,47245057,12180380,58811441,3720678,121957556,44921844,4270531,62226693,4067227,115486295,...,53081624,6665117,49643268,3398695,112788703,5713515,49464293,2934780,74575394,132687982

In [4]:
# setup the index first, then tanspose the dataframe
gestion.index = pd.Index(['Proceso','Comunidad Autonoma','Tn Recuperadas'],name='index')
gestion_clean_1= gestion.T

In [5]:
gestion_clean_1

index                  Proceso Comunidad Autonoma Tn Recuperadas
2018              Recuperación  TOTAL GENERAL  tn       47245057
2018.1  Operaciones de relleno  TOTAL GENERAL  tn       12180380
2018.2                 Vertido      TOTAL GENERAL       58811441
2018.3            Incineración  TOTAL GENERAL  tn        3720678
2018.4                   Total  TOTAL GENERAL  tn      121957556
2017              Recuperación  TOTAL GENERAL  tn       44921844
2017.1  Operaciones de relleno  TOTAL GENERAL  tn        4270531
2017.2                 Vertido  TOTAL GENERAL  tn       62226693
2017.3            Incineración  TOTAL GENERAL  tn        4067227
2017.4                   Total  TOTAL GENERAL  tn      115486295
2016              Recuperación  TOTAL GENERAL  tn       39581448
2016.1  Operaciones de relleno  TOTAL GENERAL  tn        6040616
2016.2                 Vertido  TOTAL GENERAL  tn       57250551
2016.3            Incineración  TOTAL GENERAL  tn        3842644
2016.4                   Total  TOTAL GENERAL  tn      106715259
2015              Recuperación  TOTAL GENERAL  tn       41279882
2015.1  Operaciones de relleno  TOTAL GENERAL  tn        9269249
2015.2                 Vertido  TOTAL GENERAL  tn       53571395
2015.3            Incineración  TOTAL GENERAL  tn        3655319
2015.4                   Total  TOTAL GENERAL  tn      107775845
2014              Recuperación  TOTAL GENERAL  tn       37298137
2014.1  Operaciones de relleno  TOTAL GENERAL  tn       13021319
2014.2                 Vertido  TOTAL GENERAL  tn       49534273
2014.3            Incineración  TOTAL GENERAL  tn        3543610
2014.4                   Total  TOTAL GENERAL  tn      103397339
2013              Recuperación  TOTAL GENERAL  tn       36473400
2013.1  Operaciones de relleno  TOTAL GENERAL  tn       11035609
2013.2                 Vertido  TOTAL GENERAL  tn       46224121
2013.3            Incineración  TOTAL GENERAL  tn        3569340
2013.4                   Total  TOTAL GENERAL  tn       97302470
2012              Recuperación  TOTAL GENERAL  tn       48745405
2012.1  Operaciones de relleno  TOTAL GENERAL  tn        8193793
2012.2                 Vertido  TOTAL GENERAL  tn       48259328
2012.3            Incineración  TOTAL GENERAL  tn        3276510
2012.4                   Total      TOTAL GENERAL      108475037
2011              Recuperación  TOTAL GENERAL  tn       53081624
2011.1  Operaciones de relleno  TOTAL GENERAL  tn        6665117
2011.2                 Vertido  TOTAL GENERAL  tn       49643268
2011.3            Incineración  TOTAL GENERAL  tn        3398695
2011.4                   Total  TOTAL GENERAL  tn      112788703
2010    Operaciones de relleno  TOTAL GENERAL  tn        5713515
2010.1                 Vertido  TOTAL GENERAL  tn       49464293
2010.2            Incineración  TOTAL GENERAL  tn        2934780
2010.3            Recuperación  TOTAL GENERAL  tn       74575394
2010.4                   Total  TOTAL GENERAL  tn      132687982

In [6]:
gestion_clean_1.columns

Index(['Proceso', 'Comunidad Autonoma', 'Tn Recuperadas'], dtype='object', name='index')

In [7]:
#Creo la columna años similar al index
gestion_clean_1['Año'] = gestion_clean_1.index

In [8]:
# Se aplico un patron reguex para arreglar la columna año

gestion_clean_1['Año_1'] = gestion_clean_1['Año'].str.extract(r'(\d{4})')

In [9]:
gestion_clean_1 = gestion_clean_1.drop(columns=['Año'], axis=1)
#renombrar la columna Año_1 a año 
gestion_clean_1.rename(columns={'Año_1':'Año'}, inplace=True)

In [10]:
pivot_gestion = gestion_clean_1.pivot(index='Año', columns='Proceso', values='Tn Recuperadas')

In [11]:
pivot_gestion

Proceso Incineración Operaciones de relleno Recuperación      Total   Vertido
Año
2010         2934780                5713515     74575394  132687982  49464293
2011         3398695                6665117     53081624  112788703  49643268
2012         3276510                8193793     48745405  108475037  48259328
2013         3569340               11035609     36473400   97302470  46224121
2014         3543610               13021319     37298137  103397339  49534273
2015         3655319                9269249     41279882  107775845  53571395
2016         3842644                6040616     39581448  106715259  57250551
2017         4067227                4270531     44921844  115486295  62226693
2018         3720678               12180380     47245057  121957556  58811441

In [104]:
# Creo las columnas que me hacen falta 
pivot_gestion['Comunidad Autonoma'] = 'Total Nacional'

In [107]:
#CREO LAS DOS COLUMNAS QUE ME HACEN FALTA QUE SON AÑOS Y COMUNIDADES AUTONOMAS, Y REINICIO EL INDEX
pivot_gestion['Año'] = pivot_gestion.index

In [109]:
#REINICIO EL INDEX

pivot_gestion.reset_index(inplace=True, drop=True)

In [110]:
pivot_gestion

Proceso,Incineración,Operaciones de relleno,Recuperación,Total,Vertido,Comunidad Autonoma,Año
0,2934780,5713515,74575394,132687982,49464293,Total Nacional,2010
1,3398695,6665117,53081624,112788703,49643268,Total Nacional,2011
2,3276510,8193793,48745405,108475037,48259328,Total Nacional,2012
3,3569340,11035609,36473400,97302470,46224121,Total Nacional,2013
4,3543610,13021319,37298137,103397339,49534273,Total Nacional,2014
5,3655319,9269249,41279882,107775845,53571395,Total Nacional,2015
6,3842644,6040616,39581448,106715259,57250551,Total Nacional,2016
7,4067227,4270531,44921844,115486295,62226693,Total Nacional,2017
8,3720678,12180380,47245057,121957556,58811441,Total Nacional,2018

In [111]:
#CAMBIO EL NOMBRE A LAS COLUMNAS 

new_names = {'Incineración': 'Gestion: Incineracion (tn)', 'Operaciones de relleno': 'Gestion: Opereaciones de relleno (tn)', 'Recuperación': 'Gestion Recuperacion (tn)', 'Total': 'Gestion Total (tn)', 'Vertido': 'Gestion Vertido (tn)'}

pivot_gestion.rename(columns=new_names, inplace=True)
pivot_gestion.head()

Proceso,Gestion: Incineracion (tn),Gestion: Opereaciones de relleno (tn),Gestion Recuperacion (tn),Gestion Total (tn),Gestion Vertido (tn),Comunidad Autonoma,Año
0,2934780,5713515,74575394,132687982,49464293,Total Nacional,2010
1,3398695,6665117,53081624,112788703,49643268,Total Nacional,2011
2,3276510,8193793,48745405,108475037,48259328,Total Nacional,2012
3,3569340,11035609,36473400,97302470,46224121,Total Nacional,2013
4,3543610,13021319,37298137,103397339,49534273,Total Nacional,2014

In [ ]:
gestion

In [113]:
## GUARDAMOS LA BASE DE DATOS

pivot_gestion.to_csv('data/gestion_clean.csv', index=False)