In [1]:
import pandas as pd
import numpy as np
import re
import os

In [2]:

SEP = os.sep
dir = os.path.dirname
csv_fullpath = dir(dir(os.getcwd())) + SEP + "data" + SEP + "residuos_gestionados_nuevo.xlsx"

In [3]:
csv_fullpath

'c:\\Users\\Mary\\Desktop\\Boot Camp\\Python\\MaryC-MezaR\\data_science_bootcamp_2021\\Waste_Management_EDA_proyect\\data\\residuos_gestionados_nuevo.xlsx'

In [4]:
gestion = pd.read_excel(csv_fullpath)

In [7]:
gestion

,Año,Comunidades Autónomas,Reciclado procedente de recogida separada,Materiales recuperados-TMB mezclados,Compostado/Digestion anaerobia de FORS,Compostado/Digestión anaerobia,Incinerado,Vertido de rechazos,Vertido sin tratamiento previo,Total,Unnamed: 10
0,2018,Andalucía,4.128180e+05,166217.000,45572.0000,6.857340e+05,0.000000e+00,2.404796e+06,599650.000,4.314787e+06,NaN
1,2018,Aragón,8.241800e+04,10209.000,212000.0000,7.983400e+04,0.000000e+00,1.728310e+05,226741.000,5.722450e+05,NaN
2,2018,Principado de Asturias,8.372800e+04,0.000,2481.0000,0.000000e+00,0.000000e+00,4.908000e+03,390873.000,4.819900e+05,NaN
3,2018,ILLES BALEARS,1.531490e+05,1938.000,36774.0000,1.669000e+04,5.058860e+05,3.793200e+04,143927.000,8.962960e+05,NaN
4,2018,Canarias,1.401740e+05,58936.000,1248.0000,1.765900e+05,0.000000e+00,8.207420e+05,113704.000,1.311394e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...
175,2010,País Vasco,2.808448e+05,18907.125,8877.3750,3.586912e+04,2.452908e+05,8.515031e+04,216172.750,8.911122e+05,NaN
176,2010,Comunitat Valenciana,2.604824e+05,110349.500,0.0000,6.396301e+05,3.098750e+03,1.153239e+06,423.500,2.167223e+06,NaN
177,2010,Ceuta,3.252812e+03,0.000,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,0.000,3.252812e+03,NaN
178,2010,Melilla,3.368000e+03,0.000,0.0000,0.000000e+00,4.211619e+04,0.000000e+00,0.000,4.548419e+04,NaN
179,2010,Total nacional,2.998739e+06,619189.750,495449.6875,2.651220e+06,2.499665e+06,7.537971e+06,4255055.875,2.105729e+07,NaN

In [16]:
# redondeo los valores por que tienen demdsiados decimales 

round(gestion.iloc[:, 2:11],2)

,Reciclado procedente de recogida separada,Materiales recuperados-TMB mezclados,Compostado/Digestion anaerobia de FORS,Compostado/Digestión anaerobia,Incinerado,Vertido de rechazos,Vertido sin tratamiento previo,Total,Unnamed: 10
0,412818.00,166217.00,45572.00,685734.00,0.00,2404796.00,599650.00,4314787.00,NaN
1,82418.00,10209.00,212000.00,79834.00,0.00,172831.00,226741.00,572245.00,NaN
2,83728.00,0.00,2481.00,0.00,0.00,4908.00,390873.00,481990.00,NaN
3,153149.00,1938.00,36774.00,16690.00,505886.00,37932.00,143927.00,896296.00,NaN
4,140174.00,58936.00,1248.00,176590.00,0.00,820742.00,113704.00,1311394.00,NaN
...,...,...,...,...,...,...,...,...,...
175,280844.75,18907.12,8877.38,35869.12,245290.75,85150.31,216172.75,891112.19,NaN
176,260482.44,110349.50,0.00,639630.06,3098.75,1153239.00,423.50,2167223.25,NaN
177,3252.81,0.00,0.00,0.00,0.00,0.00,0.00,3252.81,NaN
178,3368.00,0.00,0.00,0.00,42116.19,0.00,0.00,45484.19,NaN
179,2998739.19,619189.75,495449.69,2651220.44,2499665.44,7537970.56,4255055.88,21057289.56,NaN

In [71]:
#Elimino la ultima columna
gestion.drop(columns='Unnamed: 10', inplace = True , axis= 1)

In [17]:
gestion

,Año,Comunidades Autónomas,Reciclado procedente de recogida separada,Materiales recuperados-TMB mezclados,Compostado/Digestion anaerobia de FORS,Compostado/Digestión anaerobia,Incinerado,Vertido de rechazos,Vertido sin tratamiento previo,Total,Unnamed: 10
0,2018,Andalucía,4.128180e+05,166217.000,45572.0000,6.857340e+05,0.000000e+00,2.404796e+06,599650.000,4.314787e+06,NaN
1,2018,Aragón,8.241800e+04,10209.000,212000.0000,7.983400e+04,0.000000e+00,1.728310e+05,226741.000,5.722450e+05,NaN
2,2018,Principado de Asturias,8.372800e+04,0.000,2481.0000,0.000000e+00,0.000000e+00,4.908000e+03,390873.000,4.819900e+05,NaN
3,2018,ILLES BALEARS,1.531490e+05,1938.000,36774.0000,1.669000e+04,5.058860e+05,3.793200e+04,143927.000,8.962960e+05,NaN
4,2018,Canarias,1.401740e+05,58936.000,1248.0000,1.765900e+05,0.000000e+00,8.207420e+05,113704.000,1.311394e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...
175,2010,País Vasco,2.808448e+05,18907.125,8877.3750,3.586912e+04,2.452908e+05,8.515031e+04,216172.750,8.911122e+05,NaN
176,2010,Comunitat Valenciana,2.604824e+05,110349.500,0.0000,6.396301e+05,3.098750e+03,1.153239e+06,423.500,2.167223e+06,NaN
177,2010,Ceuta,3.252812e+03,0.000,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,0.000,3.252812e+03,NaN
178,2010,Melilla,3.368000e+03,0.000,0.0000,0.000000e+00,4.211619e+04,0.000000e+00,0.000,4.548419e+04,NaN
179,2010,Total nacional,2.998739e+06,619189.750,495449.6875,2.651220e+06,2.499665e+06,7.537971e+06,4255055.875,2.105729e+07,NaN

In [77]:
gestion.rename(columns={'Comunidades Autónomas': 'Comunidad Autónoma'}, inplace=True)

In [79]:
#CHANGE TO CAPITALIZE ALL the column CCAA STR
gestion['Comunidad Autónoma'] = gestion['Comunidad Autónoma'].str.upper()

In [81]:
## GUARDAMOS LA BASE DE DATOS

gestion.to_csv('gestion_ccaa_clean.csv', index=False)