### CRUD:
- Create
- Replace
- Update
- Delete

===============================

### IMPORTS & GET DATABASE INFO

In [1]:
from jsons import read_json_to_dict
from mysql_driver import MySQL
import pandas as pd
from sqlalchemy import create_engine

json_readed = read_json_to_dict("sql_server_settings.json")
IP_DNS = json_readed["IP_DNS"]
USER = json_readed["USER"]
PASSWORD = json_readed["PASSWORD"]
BD_NAME = json_readed["BD_NAME"]
PORT = json_readed["PORT"]

In [18]:
# Connect to MySQL
mysql_db = MySQL(IP_DNS=IP_DNS, USER=USER, PASSWORD=PASSWORD, BD_NAME=BD_NAME, PORT=PORT)
mysql_db.connect()

Connected to MySQL server [y4290783_ds_april_2021_db]

In [19]:
# Version 2
db_connection_str = mysql_db.SQL_ALCHEMY

#string = 'mysql+pymysql://user:password@98.76.54.33:20001/apr_july_2021_tb'
db_connection = create_engine(db_connection_str)

============== 

### INSERT TABLE

# WITH PANDAS

### Insert from pandas

In [21]:


import os
SEP = os.sep
dir = os.path.dirname

csv_fullpath = dir(dir(os.getcwd())) + SEP + "reports" + SEP + "waste_management_cleaned.csv"
df = pd.read_csv(csv_fullpath)

In [22]:
table_to_insert = "MaryCruz_Meza"
df_to_insert = df
to_append = "append"
try:
    frame_sql = df_to_insert.to_sql(name=table_to_insert, con=db_connection, if_exists="append", index=False)
    print("Success")
except Exception as error:
    print(error)

Success

In [23]:
df = pd.read_sql("select * from MaryCruz_Meza", con=db_connection)
df

,Autonomous communities,Year,GDP,Population,GDP per capita,Domestic Waste and Wheelie Bins -C,Bulk -C,Metallics waste-C,Waste Glass-C,Waste Paper and Cardboard-C,...,Composting/anaerobic digestion FORS-D,Composting/anaerobic digestion-D,Incinerated-D,Landfill of rejects,Landfill without pre-treatment-D,Total Waste disposal (tn)-D,Total(tons/day),Per Capita(kg/capita/day),Processed_waste,Not Processed_waste
0,ANDALUCÍA,2010,144752225,8370975,17292.16,4213174,155836,11203,82031,136017,...,37339.1875,625062.6875,0.0000,2308242.875,486450.6875,3.965571e+06,13630.00,0.59,1170877.12,2794693.56
1,ANDALUCÍA,2016,148405362,8388107,17692.35,3545590,361986,4425,99622,101816,...,45.5720,685.7340,0.0000,2404796.000,59965.0000,4.314787e+06,12042.72,0.52,1850026.00,2464761.00
2,ANDALUCÍA,2012,138007226,8449985,16332.25,4134974,99589,7185,76114,111678,...,37219.7500,620111.7500,0.0000,2314553.500,479534.7500,3.954216e+06,13176.48,0.57,1160127.50,2794088.25
3,ANDALUCÍA,2017,155371755,8379820,18541.18,3493910,380959,4627,91570,102877,...,37991.0000,700793.0000,0.0000,2172227.000,588749.0000,4.021836e+06,12014.79,0.52,1260860.00,2760976.00
4,ANDALUCÍA,2014,137722026,8402305,16390.98,3437380,252293,4321,82208,95866,...,36742.0000,600308.0000,0.0000,2339796.000,451871.0000,3.908796e+06,11428.06,0.50,1117129.00,2791667.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,REGIÓN DE MURCIA,2012,26508820,1474449,17978.80,579368,3488,263,22590,8430,...,875.7500,107281.7500,431.2500,478552.000,11066.7500,6.792065e+05,1760.50,0.44,189587.75,489618.75
149,REGIÓN DE MURCIA,2014,26712051,1466818,18210.88,596188,11546,196,21991,12864,...,0.0000,98669.0000,0.0000,485697.000,10669.0000,6.699910e+05,1854.50,0.46,173625.00,496366.00
150,REGIÓN DE MURCIA,2010,27912742,1461979,19092.44,711540,15924,817,74000,22561,...,1094.6875,109434.9375,539.0625,476765.750,11166.1875,6.815104e+05,2486.31,0.62,193578.44,487931.94
151,REGIÓN DE MURCIA,2015,28492083,1467288,19418.19,589409,11306,194,23450,13814,...,3503.0000,133120.0000,1725.0000,457117.000,12260.0000,7.068530e+05,1863.19,0.46,237476.00,469377.00
152,REGIÓN DE MURCIA,2011,27236069,1470069,18527.07,577721,1694,3275,18755,18849,...,1313.6250,111588.1250,646.8750,474979.500,11265.6250,6.838142e+05,1770.81,0.44,197569.12,486245.12

In [24]:
mysql_db.close()

Close connection with MySQL server [y4290783_ds_april_2021_db]